{% extends 'base.html' %}

{% block content %}
    <div class="regist-1">
        <div class="regist">
            <form method="post">
                <div class="image-logo-login"></div>
                <div class="white-stripe"></div>
                {% csrf_token %}
                <div class="login-username login-username-none">
                    <div class="registration">
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="registration">
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="error">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="registration">
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="error">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="registration">
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="error">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="registration">
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="error">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="registration">
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="error">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button class="button-sign_in" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
