{% extends 'base.html' %}



{% block content %}
<div class="container-index-1">    
    <div class="gallery">
        <div class="gallery-img" style="background-image: url('https://static.tildacdn.com/tild3530-6230-4633-b536-326638303336/WhatsApp_Image_2023-.jpeg');"></div>
        <div class="gallery-img" style="background-image: url('https://static.tildacdn.com/tild3965-6533-4763-b763-393561353764/WhatsApp_Image_2023-.jpeg');"></div>
        <div class="gallery-img" style="background-image: url('https://static.tildacdn.com/tild6364-3366-4163-b363-323833336364/WhatsApp_Image_2023-.jpeg');"></div>
        <div class="gallery-img" style="background-image: url('https://static.tildacdn.com/tild3134-6531-4133-b930-393663383134/16033_.png');"></div>
        <div class="img-ind-2" style="background-image: url('https://static.tildacdn.com/tild6139-6565-4165-b862-313165383366/_2racoon23.svg');"></div>
        <div class="text-ind-1-2"></div>
        <div class="text-ind-1">ART&TEXTURE</div>
        <div class="text-ind-2">FOR THE SKY</div>
        <div class="text-ind-3">cocktail</div>
        <div class="text-ind-4">bar</div>
        <div class="text-ind-5">56 floor</div>
{#        <div class="text-ind-1-1"></div>#}
        <div class="logo-img-ind-1" style="background-image: url('https://optim.tildacdn.pub/tild6266-3136-4537-a331-376135643865/-/format/webp/even_more_muted_grad.png');"></div>
        <div class="img-ind-3" style="background-image: url('https://static.tildacdn.com/tild6139-6565-4165-b862-313165383366/_2racoon23.svg');"></div>
    </div>
</div>
<div class="gallery-2">
    <div class="gallery-2-img">
        <img src="https://static.tildacdn.com/tild3261-3632-4634-a563-333439343564/_272.jpg">
    </div>
    <div class="text-index-2">
        <div class="text-gallery-1">О ПРОЕКТЕ</div>
        <div class="text-gallery-2">Altfer Bar - это уютное место в Москва-Сити с уникальной атмосферой изысканного 
            коктейльного бара, которое объединяет людей со стилем и особенным отношением к жизни.</div>
        <div class="text-gallery-3">«ALTFER BAR - искусство сочетания стиля, классики и ...».</div>
    </div>
</div>
<div class="gallery-3">
    <div class="img1-gal-3" style="background-image: url('https://static.tildacdn.com/tild6462-6636-4732-b934-326336356461/_4racoon23.svg');"></div>
    <div class="fixed-background-wrapper">
        <div class="img2-gal-3" style="background-image: url('https://static.tildacdn.com/tild6139-6565-4165-b862-313165383366/_2racoon23.svg');"></div>
    </div>
    <div id="gal3-table">
        <div class="gal3-td" style="background-image: url('https://static.tildacdn.com/tild6430-3938-4235-a535-383635636231/15260__.jpeg');"></div>
        <div class="gal3-td" style="background-image: url('https://static.tildacdn.com/tild3039-3338-4433-a438-313038653033/15413__.jpeg');"></div>
        <div class="gal3-td" style="background-image: url('https://static.tildacdn.com/tild6232-3332-4233-b862-323234656232/15556__.jpeg');"></div>
        <div class="gal3-td" style="background-image: url('https://static.tildacdn.com/tild3863-6635-4164-b338-336166616261/15491__.jpeg');"></div>
    </div>
</div>
<div class="gallery-4">
    <div class="img1-gal-4" style="background-image: url('https://static.tildacdn.com/tild6563-3266-4431-b433-306365373965/2E4A3913.jpg');"></div>
</div>
{#<div class="gallery-5">#}
{#    <div></div>#}
{#</div>#}
{% include "./footer.html" %}
{% endblock %}